.color-orange {
    color: #F68B29;
    
}

.color-black {
    background-color: #262626;
}
.color-black-fade {
    background-color: #6e6e6e57;

}

.nav-link {
    font-weight: 500;
    position: relative;
    color: rgba(58, 58, 58, 0.747);
}



.nav-link:hover {
    color: #000000;
}


.btn {
    background-color: #F68B29;
    color: #f3f5f6;
    text-decoration: none;
    transition: 0.3s background-color;
    border-radius: 40px;
    padding: 0.5rem 2rem;
}



.btn:hover {
    border-radius: 25px;
    background-color: #ffaf64;
    color: white;
    border-radius: 40px;
}

.button-second-section{
    padding: 0.5rem;
    width: 18.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 5rem;
}

.card-solution{
    height: 25rem;
    width: 20rem;
    background: transparent;
    border: none;
}

.card-solution h5 {
    color: #f3f5f6;
}

.btn-card {
    position: absolute;
    bottom: 2%;
    right: 0%;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: #F68B29;
    border: none;
    color: white;
}
.btn-card:hover {
    background-color: #ffaf64;
}

body {
    background-color: #eee;
}

.card-skill {
    border: none;
    border-radius: 10px;
}


.icon {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge span {
    background-color: #ffe9d5;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #F68B29;
    justify-content: center;
    align-items: center;
}

.progress {
    height: 10px;
    border-radius: 10px;
}

.progress div {
    background-color: #F68B29;
}

.carousel-control-prev-icon {
    background-color: black;
}


@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 2px;
        background-color: #F68B29;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before {
        width: 90%;
        visibility: visible;
    }
}

